<link rel="stylesheet" href="./courses.component.css">
<div class="courses">
    <div class="stack mern">
        <a href="https://www.javatpoint.com/mean-stack-tutorial" target="_blank"><img src="../../assets/images/mean.png" alt="MEAN Stack"></a>
        <p>MEAN STACK</p>
    </div>
    <div class="stack mean">
        <a href="https://www.javatpoint.com/mern-stack" target="_blank"><img src="../../assets/images/mern.png" alt="MERN Stack"></a>
        <p>MERN STACK</p>
    </div>
    <div class="stack mevn">
        <a href="https://www.geeksforgeeks.org/what-is-mevn-stack/" target="_blank"><img src="../../assets/images/mevn.jpg" alt="MEVN Stack"></a>
        <p>MEVN STACK</p>
    </div>
</div>