.courses {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    width: 100%;
  }
  
  .stack {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 33.33%;
    height: 100%;
    text-align: center;
    padding: 35px;
  }
  
  .stack img {
    max-width: 100%;
    height: auto;
    max-height: 200px;
  }
  
  .stack p {
    font-weight: bold;
    margin-top: 10px;
  }
  a:hover img {
    transform: scale(1.1);
  }